
<nav class="navbar navbar-dark mt-2">
  <a style="color:#9fff6d;"class="display-2" id="main-title"><em>computer_stories</em></a>
 


  <div class="d-none d-sm-block">

  <div class=" d-flex pt-5">
    
    <a href="/feed.xml">
      <img class="mx-2" src="/assets/images/icons/rss-fill.svg" alt="" width="64" height="64"/>
    </a>
    
    <a href="https://github.com/OldKalash7">
      <img class="mx-2" src="/assets/images/icons/github.svg" alt="" width="64" height="64">
    </a>
    <a href="https://twitter.com/betrayer_kalash">
      <img class="mx-2" src="/assets/images/icons/twitter.svg" alt="" width="64" height="64">
    </a>
    <a href="https://www.twitch.tv/kalash_reaper">
      <img class="mx-2" src="/assets/images/icons/twitch.svg" alt="" width="64" height="64">
    </a>
  </div> 

  </div>
</nav>
