

        <div class="col-sm-3 pt-5" id="side-bar">
            <img src="/assets/images/test.jpg" class="img-fluid rounded mt-4 w-75 mx-auto d-block" alt="side-bar-image"/>
            <div class="mx-3 mt-4">
                <p class="">Soy Kalash. Programador, informático y pesado de los libros. Este es mi blog y aquí escribó cosas que se me ocurren de vez en cuando.</p>
                <div class="col pb-3">
                    <img class="" src="/assets/images/github32.png" alt="Generic placeholder image">
                    <a style="color: #D64937"class="mx-2 " href="https://github.com">Github</a>
                </div>
                <div class="col">
                    <img class="" src="/assets/images/twitch32.png" style="width: 32px; height: 32px" alt="Generic placeholder image">
                    <a style="color: #D64937"class="mx-2 " href="https://www.twitch.tv/kalash_reaper"> Canal de Twitch</a>
                </div>


            </div>
        </div>

