

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
$base-background: #0f191f;
$base-highlight: #8fff6d;
$base-titles: #E0E0E0;





#main-title{
  font-family: "Roboto Mono", monospace;
}



.nav-link,.nav-link:hover,.nav-link:visited,.highlight {
  color: $base-highlight;

}

a
{
  text-decoration: none;
}

a:link 
{
  color: $base-highlight;
}

a:visited 
{
  color: $base-titles;
}

#current-page
{
  color: $base-highlight
}
.project-card
{
 background-color:red;
}



.title{
  
  color: #8fff6d;
}

body {
  color: #C0C0C0;
  background-color: $base-background;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  //background-color: #2D2D2D;
  //background-color: $gray-300;
  //background-color: #fdf6e3 ;
  //background-image: linear-gradient(black, grey);
}


