
#brand{
  font-family: "Fira Code", monospace;
  size: 2em;
}

ul.nav li a, ul.nav li a:visited {
  color: #2D2D2D;
}

ul.nav li a:hover, ul.nav li a:active {
  color: #DCDCDC ;

}

ul.nav li.active a {
  color: #2D2D2D;
}



#navegacion{
  //background-color: $purple-700;
  background-color: #D64937;
  //background-color:#b58900;
}

.list-group-item{
  border-bottom: 1px solid #2D2D2D;
}


a, u {
  text-decoration: none;
}


h1{
  border-bottom: 1px solid #D64937;
  color: #535353;
}


.link-ultimo-post {
  color: #D64937;
}

a.link-ultimo-post:visited{
  color: #535353;
}

a.link-ultimo-post:hover {
  color: #DCDCDC;
}


a:hover {
  //color: yellow !important;
}

.lista-ultimos-post a:hover a:active{
  color: #DCDCDC;

}
.list-group-item:hover{
  background-color: #2D2D2D;
}

.lista-ultimos-post  {
  background-color: #2D2D2D;
}


.titulo{
  border-bottom: 1px solid #D64937;
  color: #535353;

}
a.titulo:hover{
  color: #DCDCDC;
}

#titulo-ultimo-post{
  border-bottom: 1px solid #D64937;
  color: #535353;
}


#main-container{

}


body {
  color: #DCDCDC;
  background-color: #2D2D2D;
  //background-color: $gray-300;
  //background-color: #fdf6e3 ;
  //background-image: linear-gradient(black, grey);
}


h1{
  padding-top: 5px;
}